# SBT
boot/
lib_managed/
src_managed/
test-output/
target/
.history
_site/

# Eclipse
.cache
.classpath
.project
.scala_dependencies
.settings
.target/
.history

# Mac
.DS_Store

# Other
*.pyc
application.log
p3-users/dist
p3-panel/dist
RUNNING_PID
