      
      <div class="contact block">
        <div class="block-head text-center">
          <h2>Contact</h2>
        </div>
        <div class="contact-social text-center">
          <a href="https://twitter.com/crockpotveggies" target="_blank" id="social_twitter"><i class="fa fa-twitter br-lblue"></i></a>&nbsp;&nbsp;
          <a href="https://github.com/crockpotveggies" target="_blank" id="social_github"><i class="fa fa-github br-black"></i></a>&nbsp;&nbsp;
          <a href="http://linkedin.com/in/justinlongfellow" target="_blank" id="social_linkedin"><i class="fa fa-linkedin br-blue"></i></a>
        </div>

        <!--<div class="bottom-nav text-center">
          <ul>
            <li><a href="#.home">Home</a><span>.</span></li>
            <li><a href="#.works">Works</a><span>.</span></li>
            <li><a href="#.status">Status</a><span>.</span></li>
            <li><a href="#.service">Service</a><span>.</span></li>
            <li><a href="#.testimonials">Testimonials</a></li>
          </ul>
        </div>-->
          
        <footer>
          <p>Copyright &copy; <a href="#">Justin Long</a>
            <br>&nbsp;</p>
          <p><a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a></p>
        </footer>
          
        <!-- Scroll to top  -->
        <span class="gotop"><a href="#"><i class="fa fa-chevron-up"></i></a></span>
      </div>
    </div>
    
    
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="display:none;" id="debug_bar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Debug</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="javascript:;" id="debug_tracking_disable">Disable Mixpanel</a></li>
            <li><a href="javascript:;" id="debug_tracking_enable">Enable Mixpanel</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    
    <!-- Contact Form with Sliding
    <div class="slide-bar">
      <div class="contact-form br-white">
        <h2>Contact Form</h2>
        <form class="form" role="form">
          <div class="form-group">
            <label for="InputName">Name</label
            <input type="text" class="form-control" id="InputName" placeholder="Enter the Name">
          </div>
          <div class="form-group">
            <label for="InputEmail">Email</label>
            <input type="text" class="form-control" id="InputEmail" placeholder="Enter the Email">
          </div>
          <div class="form-group">
            <label for="InputTextarea">Comments</label>
            <textarea class="form-control" rows="3" id="InputTextarea"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-danger btn-sm">Submit</button>&nbsp;
            <button type="submit" class="btn btn-default btn-sm">Reset</button>
          </div>
        </form>
        <div class="slider-button">
          <a href="#"><img src="/img/contact.png" class="img-responsive" alt=""/></a>
        </div>
      </div>
    </div>  
    Form Ends -->
    
    
    <!-- le javascript -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/js/jquery.arbitrary-anchor.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.countTo.js"></script>
    <script src="/js/mixpanel_scroll_tracker.min.js"></script>
    <script src="/js/custom.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59566729-1', 'auto');
      ga('send', 'pageview');

    </script>
