
    <!--<div class="navigation">
      <div class="nav-list  br-white">
        <ul>
          <li><a href="#.home">Home</a></li>
          <li><a href="#.works">Works</a></li>
          <li><a href="#.status">Status</a></li>
          <li><a href="#.service">Portfolio</a></li>
          <li><a href="#.testimonials">Testimonials</a></li>
          <li><a href="#.contact">Contact</a></li>
        </ul>
      </div>
    </div>-->
        
    <span class="home"></span>
        
    <div class="container"> 
      <header class="block text-center">
        <h2 id="header_title">Thanks for reading <label>crockpotveggies</label><span class="red">.</span></h2>
        <!-- Head Title --> 
        <div class="head-bar">
          <div class="row">
            <div class="col-md-12 col-xs-12">
              <div class="head-item text-center head-bottom animated">
                <h6><a href="/" id="header_carrots"><img src="/img/carrots.png"></a></h6>
              </div>
            </div>
          </div>
        </div>
      </header>