
        <div class="status block text-center">
          <div class="block-head">
            <h2 class="entry-title">
            {% if post.title %}
                <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
            {% endif %}
            </h2>
            <div class="row entry-content">
              <div class="col-md-2 col-xs-2"></div>
              <div class="col-md-8 col-xs-8">
                {{ content }}
              </div>
              <div class="col-md-2 col-xs-2"></div>
            </div>
          </div>
        </div>